<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">


    <!-- MAIN MENU -->
    <ul class="main-menu">
        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
            <a href="#" class="main-menu-item-link">
                ABOUT
                <!-- SVG ARROW -->
                <svg class="arrow-icon">
                    <use xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /SVG ARROW -->
            </a>

            <!-- DROPDOWN -->
            <ul class="dropdown-list dropdown violet">
                <!-- DROPDOWN ITEM -->
                <li class="dropdown-list-item">
                    <a href="#" class="dropdown-list-item-link">KPL NEWS</a>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-list-item">
                    <a href="#" class="dropdown-list-item-link">HISTORY</a>
                    <!-- ARROW ICON -->
                    <svg class="arrow-icon medium">
                        <use xlink:href="#svg-arrow-medium"></use>
                    </svg>
                    <!-- /ARROW ICON -->

                    <!-- DROPDOWN -->
                    <ul class="dropdown-list dropdown violet">
                        <!-- DROPDOWN ITEM -->
                        <li class="dropdown-list-item">
                            <a href="#" class="dropdown-list-item-link">SAMPLE HISTORY1</a>
                        </li>
                        <!-- /DROPDOWN ITEM -->

                        <!-- DROPDOWN ITEM -->
                        <li class="dropdown-list-item">
                            <a href="#" class="dropdown-list-item-link">SAMPLE HISTORY2</a>
                        </li>
                        <!-- /DROPDOWN ITEM -->
                    </ul>
                    <!-- /DROPDOWN -->
                </li>
                <!-- /DROPDOWN ITEM -->

            </ul>
            <!-- /DROPDOWN -->
        </li>
        <!-- /MAIN MENU ITEM -->


        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
            <a href="#" class="main-menu-item-link">
                LEAGUE
                <!-- SVG ARROW -->
                <svg class="arrow-icon">
                    <use xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /SVG ARROW -->
            </a>

            <!-- DROPDOWN -->
            <ul class="dropdown-list dropdown violet">
                <!-- DROPDOWN ITEM -->
                <li class="dropdown-list-item">
                    <a href="#" class="dropdown-list-item-link">KPL NEWS</a>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-list-item">
                    <a href="#" class="dropdown-list-item-link">HISTORY</a>
                    <!-- ARROW ICON -->
                    <svg class="arrow-icon medium">
                        <use xlink:href="#svg-arrow-medium"></use>
                    </svg>
                    <!-- /ARROW ICON -->

                    <!-- DROPDOWN -->
                    <ul class="dropdown-list dropdown violet">
                        <!-- DROPDOWN ITEM -->
                        <li class="dropdown-list-item">
                            <a href="#" class="dropdown-list-item-link">SAMPLE HISTORY1</a>
                        </li>
                        <!-- /DROPDOWN ITEM -->

                        <!-- DROPDOWN ITEM -->
                        <li class="dropdown-list-item">
                            <a href="#" class="dropdown-list-item-link">SAMPLE HISTORY2</a>
                        </li>
                        <!-- /DROPDOWN ITEM -->
                    </ul>
                    <!-- /DROPDOWN -->
                </li>
                <!-- /DROPDOWN ITEM -->

            </ul>
            <!-- /DROPDOWN -->
        </li>

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
            <a href="#" class="main-menu-item-link">
                TEAMS
                <!-- SVG ARROW -->
                <svg class="arrow-icon">
                    <use xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /SVG ARROW -->
            </a>

            <!-- DROPDOWN -->
            <ul class="dropdown-list dropdown violet">
                <!-- DROPDOWN ITEM -->
                <li class="dropdown-list-item">
                    <a href="#" class="dropdown-list-item-link">KPL NEWS</a>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-list-item">
                    <a href="#" class="dropdown-list-item-link">HISTORY</a>
                    <!-- ARROW ICON -->
                    <svg class="arrow-icon medium">
                        <use xlink:href="#svg-arrow-medium"></use>
                    </svg>
                    <!-- /ARROW ICON -->

                    <!-- DROPDOWN -->
                    <ul class="dropdown-list dropdown violet">
                        <!-- DROPDOWN ITEM -->
                        <li class="dropdown-list-item">
                            <a href="#" class="dropdown-list-item-link">SAMPLE HISTORY1</a>
                        </li>
                        <!-- /DROPDOWN ITEM -->

                        <!-- DROPDOWN ITEM -->
                        <li class="dropdown-list-item">
                            <a href="#" class="dropdown-list-item-link">SAMPLE HISTORY2</a>
                        </li>
                        <!-- /DROPDOWN ITEM -->
                    </ul>
                    <!-- /DROPDOWN -->
                </li>
                <!-- /DROPDOWN ITEM -->

            </ul>
            <!-- /DROPDOWN -->
        </li>

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
            <a href="#" class="main-menu-item-link">
                PLAYERS
                <!-- SVG ARROW -->
                <svg class="arrow-icon">
                    <use xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /SVG ARROW -->
            </a>

            <!-- DROPDOWN -->
            <ul class="dropdown-list dropdown violet">
                <!-- DROPDOWN ITEM -->
                <li class="dropdown-list-item">
                    <a href="#" class="dropdown-list-item-link">KPL NEWS</a>
                </li>
                <!-- /DROPDOWN ITEM -->

                <!-- DROPDOWN ITEM -->
                <li class="dropdown-list-item">
                    <a href="#" class="dropdown-list-item-link">HISTORY</a>
                    <!-- ARROW ICON -->
                    <svg class="arrow-icon medium">
                        <use xlink:href="#svg-arrow-medium"></use>
                    </svg>
                    <!-- /ARROW ICON -->

                    <!-- DROPDOWN -->
                    <ul class="dropdown-list dropdown violet">
                        <!-- DROPDOWN ITEM -->
                        <li class="dropdown-list-item">
                            <a href="#" class="dropdown-list-item-link">SAMPLE HISTORY1</a>
                        </li>
                        <!-- /DROPDOWN ITEM -->

                        <!-- DROPDOWN ITEM -->
                        <li class="dropdown-list-item">
                            <a href="#" class="dropdown-list-item-link">SAMPLE HISTORY2</a>
                        </li>
                        <!-- /DROPDOWN ITEM -->
                    </ul>
                    <!-- /DROPDOWN -->
                </li>
                <!-- /DROPDOWN ITEM -->

            </ul>
            <!-- /DROPDOWN -->
        </li>

    </ul>
</div>
</body>
</html>